* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h3 {
    font-weight: 400;
}

.underline {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(187, 187, 187, 0.4);
}

p {
    font-size: 13px;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 0 8px rgb(153, 153, 153);
    position: fixed;
    z-index: 1;
}

.header-bar a {
    text-decoration: none;
    color: rgb(50, 50, 50);
    transition: all 0.25s;
}

.header-right:hover {
    color: rgb(126, 126, 126);
}

.header-bar-right ul li {
    list-style: none;
    display: inline-block;
}

.header-bar-right ul li a {
    margin: 0px 10px;
}

.cover {
    background: url(../assets/images/architect.jpg);
    height: 90vh;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover h1 {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.934);
}

#cover-logo-span {
    padding: 0px 10px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.75);
}

.projects {
    width: 100%;
    margin-block: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-img {
    width: 24%;
    height: 25vh;
    margin-bottom: 15px;
    transition: all 0.25s;
}

.project-img:hover {
    scale: 1.02;
}

.project-img p {
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px 12px;
}

.project-img1 {
    background: url(../assets/images/house5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-img2 {
    background: url(../assets/images/house2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-img3 {
    background: url(../assets/images/house3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-img4 {
    background: url(../assets/images/house4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-img5 {
    background: url(../assets/images/house2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-img6 {
    background: url(../assets/images/house5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-img7 {
    background: url(../assets/images/house4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-img8 {
    background: url(../assets/images/house3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-p {
    margin-top: 20px;
    color: rgba(26, 26, 26, 1);
}

.about-section {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.about-box {
    width: 24%;
    min-height: 300px;
    transition: all 0.25s;
}

.about-box:hover {
    scale: 1.02;
}

.about-box img {
    width: 100%;
    filter: grayscale(0.75);
}

.about-box h3 {
    margin-bottom: 10px;
    color: rgb(37, 37, 37);
}

.about-box p {
    font-size: 12px;
    color: rgba(26, 26, 26, 1);
}

#about-p-gray {
    margin-bottom: 10px;
    color: rgb(104, 104, 104);
}

.about-box button {
    width: 100%;
    margin-top: 10px;
    outline: none;
    border: none;
    padding: 5px;
    transition: all 0.25s;
}

.about-box button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(39, 39, 39);
}

input {
    display: block;
    outline: none;
    border: none;
    padding: 5px;
    border: 1px solid rgb(211, 211, 211);
    width: 100%;
    margin-block: 12px;
}

.contact-btn {
    outline: none;
    border: none;
    /* margin-top: 15px; */
    padding: 5px 12px;
    color: rgb(220, 220, 220);
    background-color: rgb(19, 19, 19);
}

.contact-btn:hover {
    cursor: pointer;
    background-color: rgb(39, 39, 39);
}

.map img {
    width: 100%;
    margin-top: 40px;
}

footer p {
    text-align: center;
    padding: 15px;
    color: rgb(215, 215, 215);
    background-color: black;
}

footer a {
    color: rgb(215, 215, 215);
}